@{
    ViewData["Title"] = "Error";
}
<h1 class="text-center">@ViewBag.ErrorMessage</h1>

<form action="/Home/Index" method="get">
    <button class="btn btn-outline-dark text-center" type="submit">Zpět na domovskou stránku</button>
</form>


