@{
    ViewData["Title"] = "Zásady ochrany osobních údajů";
}
<h1>@ViewData["Title"]</h1>


<header>
    <p>Poslední aktualizace: 5. duben 2024</p>
    <hr />
</header>

<section>
    <h2>1. Úvod</h2>
    <p>Vítejte na naší stránce zásad ochrany osobních údajů. Veškeré údaje, které shromažďujeme, chráníme a zpracováváme, jsou v souladu s našimi zásadami ochrany osobních údajů a nařízením GDPR (obecné nařízení o ochraně osobních údajů).</p>
    <hr />
</section>

<section>
    <h2>2. Sběr osobních údajů</h2>
    <p>Sbíráme osobní údaje pouze tehdy, pokud jsou poskytnuty dobrovolně uživatelem, a to pouze za účelem poskytnutí služeb, které nabízíme, a pro účely uvedené v této zásadě ochrany osobních údajů.</p>
    <hr />
</section>

<section>
    <h2>3. Zpracování osobních údajů</h2>
    <p>Veškeré osobní údaje, které shromažďujeme, jsou zpracovávány v souladu s nařízením GDPR a používány pouze pro účely, pro které byly shromážděny.</p>
    <hr />
</section>

<section>
    <h2>4. Uchovávání osobních údajů</h2>
    <p>Osobní údaje jsou uchovávány po dobu nezbytnou k dosažení účelu, pro který byly shromážděny, a v souladu s našimi interními politikami uchovávání dat.</p>
    <hr />
</section>

<section>
    <h2>5. Vaše práva</h2>
    <p>Jako uživatelé máte určitá práva týkající se vašich osobních údajů, včetně práva na přístup, opravu, omezení zpracování a odstranění údajů.</p>
    <hr />
</section>

<section>
    <h2>6. Kontakt</h2>
    <p>Pokud máte jakékoliv dotazy nebo požadavky týkající se našich zásad ochrany osobních údajů, neváhejte nás kontaktovat na <a href="mailto:traininplanwebapp@seznam.cz">traininplanwebapp@seznam.cz</a>.</p>
</section>
